.sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #333;
    padding-top: 20px;
}
  
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

.underline-onload {
    text-decoration: underline;
}
  
.sidebar a:hover {
    background-color: #555;
}
  
.content {
    margin-right: 15%;
    padding: 20px;
}
  
@media screen and (max-width: 600px) {
    .sidebar {
      width: 15%;
    }
    .content {
      margin-right: 15%;
      margin-left: 0%;
    }
}
  
@media screen and (max-width: 400px) {
    .sidebar {
      width: 100%;
      position: relative;
    }
    .content {
      margin-right: 0;
      margin-left: 0;
      text-align: center;
    }
  }